<h1><%= @question.description() %></h1>

<h3>Answers:</h3>

<ul>
    <% @answers.each do |answer| %>
      <li> <%= answer.description %> </li>
    <% end %>
</ul>

<form action="/question/<%=@question.id%>" method="post">
  <div class="form-group">
    <label for="answer">Enter a answer here:</label>
    <input id="answer" class="form-control" name="answer" type="text">
  </div>
  <button id="add_answer" class="btn btn-success">Add Answer</button>
  <br>
</form>

<%= @message %>
